div, header, nav, section, article, aside, footer, figure, button, img, hr, a, li{
  position: relative;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  max-width: 1000px;
  width:85%;
  margin: 0 auto;
  overflow: hidden;
}

.infinite-container {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 99;
}

.section {
  display: none;
}

.show-section {
  display: block;
}

.clear{
  clear: both;
}

img {
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}