$color-primary-1: #A4C2E4;
$color-primary-2: #F45664;
$color-primary-3: #D4DE44;
$color-dark: #242224;
$color-light: #FCFEFC;


@mixin h1-font {
  font-family: "freight-sans-pro", helvetica, sans-serif;
  font-weight: 600;
  font-size: 6em;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-style: normal;
  color: $color-light;
  text-align: center;
}

@mixin h2-wrap{
	width: 250px;
    height: 250px;
    border-radius: 200px;
    margin: 30px auto 80px auto;
}

@mixin h2-font{
  font-family: "freight-sans-pro", helvetica, sans-serif;
  font-weight: 600;
  font-size: 5em;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-style: normal;
}

@mixin h3-font{
  font-family: "freight-sans-pro", helvetica, sans-serif;
  font-weight: 600;
  font-size: 4em;
  line-height: 1.4;
  font-style: normal;
}
@mixin li-font {
	font-family: "jubilat" serif;
	font-size: 2.5em;
	line-height: 1.5;
	font-weight: 200;
	font-style: normal;
	color: $color-dark;
	margin-bottom: 40px;
	list-style-type: disc;
	max-width: 550px;
	list-style-position: inside;
}

@mixin div-style ($color){
	width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
	background-color: $color;
}

@mixin nav-li-style ($background-color) {
	background-color: $background-color;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	margin: 30px auto;
}

@mixin nav-link-style ($color, $color-hover){
	font-family: "jubilat" serif;
	font-size: 2.2em;
	line-height: 1.5;
	font-weight: 200;
	font-style: normal;
	color: $color;
	text-decoration: none; 
	display: block;
	&:hover {
		color: $color-hover;
		text-decoration: none;
	}
}

@mixin link-style ($color, $color-hover){
	color: $color;
	text-decoration: underline; 
	&:hover {
		color: $color-hover;
		text-decoration: none;
	}
}
@mixin code-style {
	background-color: #CCC;
	font-family: "courier new", monospace, serif;
	padding: 20px;
	display: block;
	margin: 10px;
	color: $color-dark;
}








