@import 'reset';
@import 'var-and-mixins';
@import 'presets';


/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/
header {
  @include div-style($color-dark);
}

h1 {
  margin: 80px auto;
}

nav li {
  width: 100%;
  display: block;
  a{
  text-align: center;
  padding-top: 55px;   
  }
}

nav li:nth-child(4n+1) {
a{
@include nav-li-style ($color-primary-1);
@include nav-link-style ($color-dark, $color-primary-2);
}
}

nav li:nth-child(4n+2) {
a{
@include nav-li-style ($color-primary-2);
@include nav-link-style ($color-light, $color-dark);
}
}

nav li:nth-child(4n+3) {
a{
@include nav-li-style ($color-primary-3);
@include nav-link-style ($color-dark, $color-light);
}
}

nav li:nth-child(4n+4) {
a{
@include nav-li-style ($color-light);
@include nav-link-style ($color-primary-2, $color-dark);
}
}

.double {
    padding-top: 40px;   
}

.double-2 {
    padding-top: 50px;   
}

/*
  ========================================
  GLOBAL SECTIONS
  ========================================
*/
section {
  .h2-wrap {
  @include h2-wrap;
  }

  h2 {
  @include h2-font;
  text-align: center;
  padding-top: 90px;
  }


  h3 {
    @include h3-font;
    margin-top: -20px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  ul {
    max-width: 600px;
    margin: 0 auto;
  }

  li {
    @include li-font;
  }
  
  .indent {
    list-style-type: circle;
    padding-left: 1em;
  }

  .small {
    padding-top: 100px;
    font-size: 3.5em;
  }
   code {
    @include code-style;
  }
}

section:nth-of-type(odd) {
    @include div-style($color-light);
    a {
    @include link-style($color-dark, $color-primary-2);
    }
}
section:nth-of-type(even){
    @include div-style($color-dark);
    li {
      color: $color-light;
    }
   a {
    @include link-style($color-light, $color-primary-2);
  }

}

section:nth-of-type(4n+1){
  .h2-wrap {
    background-color: $color-primary-1;
  }
}
  
section:nth-of-type(4n+2){
  .h2-wrap {
  background-color: $color-primary-2;
  }
}

section:nth-of-type(4n+3){
  .h2-wrap {
  background-color: $color-primary-3;
  }
}

section:nth-of-type(4n+4){
  .h2-wrap {
  background-color: $color-light;
  }
}


@media screen and (min-width: 30em) {

  nav li {
  float: left;
  width: 48%;
  }
  nav li:nth-of-type(4n+1){
  width: 48%;
  }
  nav li:nth-of-type(4n+2){
  width: 48%;
  }
  nav li:nth-of-type(4n+3){
  width: 48%;
  }
  nav li:nth-of-type(4n+4){
  width: 48%;
  }
}

@media screen and (min-width: 40em) {

  nav li {
  float: left;
  width: 32%;
  }
  nav li:nth-of-type(4n+1){
  width: 32%;
  }
  nav li:nth-of-type(4n+2){
  width: 32%;
  }
  nav li:nth-of-type(4n+3){
  width: 32%;
  }
  nav li:nth-of-type(4n+4){
  width: 32%;
  }
}


@media screen and (min-width: 64em) {

  nav li {
  float: left;
  width: 20%;
  }
  nav li:nth-of-type(4n+1){
  width: 20%;
  }
  nav li:nth-of-type(4n+2){
  width: 20%;
  }
  nav li:nth-of-type(4n+3){
  width: 20%;
  }
  nav li:nth-of-type(4n+4){
  width: 20%;
  }
}






