/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, header, nav, section, article, aside, footer, figure, button, img, hr {
  position: relative; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden; }

.clear {
  clear: both; }

h1 {
  font-family: "freight-sans-pro", helvetica, sans-serif;
  font-weight: 600;
  font-size: 6em;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-style: normal;
  color: #FCFEFC;
  text-align: center; }

/*
  ========================================
  GLOBAL Header / Nav
  ========================================
*/
header {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #242224; }

h1 {
  margin: 80px auto; }

nav li {
  width: 100%;
  display: block; }
  nav li a {
    text-align: center;
    padding-top: 55px; }

nav li:nth-child(4n+1) a {
  background-color: #A4C2E4;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 30px auto;
  font-family: "jubilat" serif;
  font-size: 2.2em;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  color: #242224;
  text-decoration: none;
  display: block; }
  nav li:nth-child(4n+1) a:hover {
    color: #F45664;
    text-decoration: none; }

nav li:nth-child(4n+2) a {
  background-color: #F45664;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 30px auto;
  font-family: "jubilat" serif;
  font-size: 2.2em;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  color: #FCFEFC;
  text-decoration: none;
  display: block; }
  nav li:nth-child(4n+2) a:hover {
    color: #242224;
    text-decoration: none; }

nav li:nth-child(4n+3) a {
  background-color: #D4DE44;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 30px auto;
  font-family: "jubilat" serif;
  font-size: 2.2em;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  color: #242224;
  text-decoration: none;
  display: block; }
  nav li:nth-child(4n+3) a:hover {
    color: #FCFEFC;
    text-decoration: none; }

nav li:nth-child(4n+4) a {
  background-color: #FCFEFC;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 30px auto;
  font-family: "jubilat" serif;
  font-size: 2.2em;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  color: #F45664;
  text-decoration: none;
  display: block; }
  nav li:nth-child(4n+4) a:hover {
    color: #242224;
    text-decoration: none; }

.double {
  padding-top: 40px; }

.double-2 {
  padding-top: 50px; }

/*
  ========================================
  GLOBAL SECTIONS
  ========================================
*/
section .h2-wrap {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  margin: 30px auto 80px auto; }
section h2 {
  font-family: "freight-sans-pro", helvetica, sans-serif;
  font-weight: 600;
  font-size: 5em;
  letter-spacing: 0.1em;
  line-height: 1.4;
  font-style: normal;
  text-align: center;
  padding-top: 90px; }
section h3 {
  font-family: "freight-sans-pro", helvetica, sans-serif;
  font-weight: 600;
  font-size: 4em;
  line-height: 1.4;
  font-style: normal;
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center; }
section ul {
  max-width: 600px;
  margin: 0 auto; }
section li {
  font-family: "jubilat" serif;
  font-size: 2.5em;
  line-height: 1.5;
  font-weight: 200;
  font-style: normal;
  color: #242224;
  margin-bottom: 40px;
  list-style-type: disc;
  max-width: 550px;
  list-style-position: inside; }
section .indent {
  list-style-type: circle;
  padding-left: 1em; }
section .small {
  padding-top: 100px;
  font-size: 3.5em; }
section code {
  background-color: #CCC;
  font-family: "courier new", monospace, serif;
  padding: 20px;
  display: block;
  margin: 10px;
  color: #242224; }

section:nth-of-type(odd) {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FCFEFC; }
  section:nth-of-type(odd) a {
    color: #242224;
    text-decoration: underline; }
    section:nth-of-type(odd) a:hover {
      color: #F45664;
      text-decoration: none; }

section:nth-of-type(even) {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #242224; }
  section:nth-of-type(even) li {
    color: #FCFEFC; }
  section:nth-of-type(even) a {
    color: #FCFEFC;
    text-decoration: underline; }
    section:nth-of-type(even) a:hover {
      color: #F45664;
      text-decoration: none; }

section:nth-of-type(4n+1) .h2-wrap {
  background-color: #A4C2E4; }

section:nth-of-type(4n+2) .h2-wrap {
  background-color: #F45664; }

section:nth-of-type(4n+3) .h2-wrap {
  background-color: #D4DE44; }

section:nth-of-type(4n+4) .h2-wrap {
  background-color: #FCFEFC; }

@media screen and (min-width: 30em) {
  nav li {
    float: left;
    width: 48%; }

  nav li:nth-of-type(4n+1) {
    width: 48%; }

  nav li:nth-of-type(4n+2) {
    width: 48%; }

  nav li:nth-of-type(4n+3) {
    width: 48%; }

  nav li:nth-of-type(4n+4) {
    width: 48%; } }
@media screen and (min-width: 40em) {
  nav li {
    float: left;
    width: 32%; }

  nav li:nth-of-type(4n+1) {
    width: 32%; }

  nav li:nth-of-type(4n+2) {
    width: 32%; }

  nav li:nth-of-type(4n+3) {
    width: 32%; }

  nav li:nth-of-type(4n+4) {
    width: 32%; } }
@media screen and (min-width: 64em) {
  nav li {
    float: left;
    width: 20%; }

  nav li:nth-of-type(4n+1) {
    width: 20%; }

  nav li:nth-of-type(4n+2) {
    width: 20%; }

  nav li:nth-of-type(4n+3) {
    width: 20%; }

  nav li:nth-of-type(4n+4) {
    width: 20%; } }

/*# sourceMappingURL=checklist.css.map */
